<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <%= "#{restaurant.description}" %>
    <br>
    <span><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
    <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
    <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
  </span>

    <br>

  <% end %>
<%else%>
  <h1>No restaurants yet</h1>
<% end %>
<br>
<a href="/restaurants/new">Add a restaurant</a>
