
- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2= link_to restaurant.name, restaurant_path(restaurant)
    %p= restaurant.description
    - restaurant.reviews.each do |review|
      %p= review.thoughts
    %h3 Average rating:
    %span= star_rating(restaurant.average_rating)
    %p= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
    %p= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
    %p= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
- else
  %h1 No restaurants yet!

%a(href='/restaurants/new') Add a restaurant
